.button{
    -fx-background-color: none;
    -fx-opacity: inherit;
    -fx-border: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: chartreuse;
    -fx-border-width: 1;
}
.play {
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/play.png");
    -fx-background-size: 90% auto;
}
.play:hover{
    -fx-background-size: 100% auto;
}
.help{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/help.png");
    -fx-background-size: 90% auto;
}
.help:hover{
    -fx-background-size: 100% auto;
}
.quit{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/quit.png");
    -fx-background-size: auto 100%;
}
.quit:hover{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/quit_hover.png");
    -fx-background-size: auto 100%
}
.helper{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/helper.png");
    -fx-background-size: auto 100%
}
.helper:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/helper_pressed.png");
    -fx-background-size: auto 100%
}
.connect{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/connect.png");
    -fx-background-size: auto 100%
}
.connect:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/connect_pressed.png");
    -fx-background-size: auto 100%
}
.login{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/login.png");
    -fx-background-size: auto 100%;
}
.login:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/login_pressed.png");
    -fx-background-size: auto 100%;
}
.players2 {
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/2players.png");
    -fx-background-size: auto 100%
}
.players2:pressed {
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/2players_pressed.png");
    -fx-background-size: auto 100%
}
.players3 {
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/3players.png");
    -fx-background-size: auto 100%
}
.players3:pressed {
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/3players_pressed.png");
    -fx-background-size: auto 100%
}
.board {
    -fx-background-image: null;
    /*-fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/allow.png");*/
    -fx-background-size: 80px 80px
}
.board:hover{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/move.png");
    -fx-background-size: 80px 80px
}
.left{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/left.png");
    -fx-background-size: auto 100%
}
.left:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/left_pressed.png");
    -fx-background-size: auto 100%
}
.right{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/right.png");
    -fx-background-size: auto 100%
}
.right:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/right_pressed.png");
    -fx-background-size: auto 100%
}
.select{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/select.png");
    -fx-background-size: 100% auto
}
.select:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/select_pressed.png");
    -fx-background-size: 100% auto
}
.podium{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/other/podium.png');
    -fx-background-size: auto 100%;
}
.podiumGold{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/other/podium_gold.png');
    -fx-background-size: auto 100%;
}
.apollo{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/apollo.png');
    -fx-background-size: auto 100%
}
.artemis{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/artemis.png');
    -fx-background-size: auto 100%
}
.athena{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/athena.png');
    -fx-background-size: auto 100%
}
.atlas{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/atlas.png');
    -fx-background-size: auto 100%
}
.demeter{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/demeter.png');
    -fx-background-size: auto 100%
}
.hephaestus{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/hephaestus.png');
    -fx-background-size: auto 100%
}
.minotaur{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/minotaur.png');
    -fx-background-size: auto 100%
}
.pan{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/pan.png');
    -fx-background-size: auto 100%
}
.prometheus{
    -fx-background-image: url('/it.polimi.ingsw/view/gui/img/god/prometheus.png');
    -fx-background-size: auto 100%
}
.confirm{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/confirm.png");
    -fx-background-size: 100% auto
}
.confirm:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/confirm_pressed.png");
    -fx-background-size: 100% auto
}
.clear{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/clear.png");
    -fx-background-size: 100% auto
}
.clear:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/clear_pressed.png");
    -fx-background-size: 100% auto
}