.button{
    -fx-background-color: none;
    -fx-opacity: inherit;
    -fx-border: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-border-color: blue ;
    -fx-border-width: 5 ;
}
.play {
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/play.png");
    -fx-background-size: 90% auto;
}
.play:hover{
    -fx-background-size: 100% auto;
}
.help{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/help.png");
    -fx-background-size: 90% auto;
}
.help:hover{
    -fx-background-size: 100% auto;
}
.quit{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/quit.png");
    -fx-background-size: auto 100%;
}
.quit:hover{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/quit_hover.png");
    -fx-background-size: auto 100%
}
.helper{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/helper.png");
    -fx-background-size: auto 100%
}
.helper:hover{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/helper_pressed.png");
    -fx-background-size: auto 100%
}

.IIPlayersButton {
    -fx-graphic: url("/it.polimi.ingsw/view/gui/img/button/2players.png");
}
.IIPlayersButton:pressed {
    -fx-graphic: url("/it.polimi.ingsw/view/gui/img/button/2players_pressed.png");
}

.IIIPlayersButton {
    -fx-graphic: url("/it.polimi.ingsw/view/gui/img/button/3players.png");
}
.IIIPlayersButton:pressed {
    -fx-graphic: url("/it.polimi.ingsw/view/gui/img/button/3players_pressed.png");
}
.login{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/login.png");
    -fx-background-size: 150px auto;
}
.login:pressed{
    -fx-background-image: url("/it.polimi.ingsw/view/gui/img/button/login_pressed.png");
    -fx-background-size: 150px auto;
}


