@font-face {
    font-family: 'Nefelibata-Brush';
    src: url("/it.polimi.ingsw/view/gui/font/Nefelibata-Brush.ttf")
}

.text {
    -fx-font-family: "Nefelibata-Brush";
}

.text-area{
    -fx-font-family: "Nefelibata-Brush";
}

.text-field{
    -fx-font-family: "Nefelibata-Brush";
}